@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

.comment {
    background-color: $white;
    margin: 0 1rem 1.5rem 1rem;

    @include tablet {
        margin: 1.5rem;
    }

    @include desktop {
        margin: 0 0 0 8rem;
        width: 50vw;
      //  border-right: 1px solid $mercury;
    }

    &__title {
        font-family: "AvenirNext_demi", sans-serif;
        font-size: 1.25rem;
        line-height: 2rem;
        color: $BrainFlix-Black;
        margin: 0 0 1rem 0;

        @include desktop {
            padding-top: 1rem;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $mercury;

        @include tablet {
            margin: 1.5rem 0 0 0;
            justify-content: left;
        }

        &--image {
            background-image: url("../../assets/images/Mohan-muruge.jpg");
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 2rem;
            margin: 1.5rem 1rem 0 0;

            @include tablet {
                margin: 1.5rem 1rem 0 0;
            }

            @include desktop {
                margin: 1.5rem 1rem 0 0.5rem;
            }
        }
    }

    &__input {
        display: flex;
        flex-direction: column;

        &--container {
            @include tablet {
                display: flex;
                flex-direction: column;
            }

            &-box{
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                }
            }
            &--text {
                font-family: "AvenirNext_regular", sans-serif;
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: $silver;
                margin: 0 0 0.2rem 0;
            }

            &--textarea {
                font-family: "AvenirNext_regular", sans-serif;
                font-size: 0.8125rem;
                color: $BrainFlix-Black;
                border: 1px solid $silver;
                border-radius: 0.25rem;
                width: 72vw;
                height: 16vh;
                background-color: $alabaster;
                border-color: $silver;
                padding: 0.75rem;
                resize: none;

                &:focus {
                    border: 2px solid $BrainFlix-Blue;
                    outline-width: 0;
                }

                @include tablet {
                    width: 58vw;
                    height: 42px;
                    margin-right: 1.5rem;
                }

                @include desktop {
                    width: 28vw;
                }

            }
        }

        &--button {
            display: flex;
            background-color: $BrainFlix-Blue;
            border-style: none;
            height: 2.5rem;
            border-radius: 0.25rem;
            margin: 1rem 0 1.5rem 0;

            @include tablet {
                margin-top: 0;
                width: 26vw;
            }

            @include desktop {
                width: 14vw;
                margin-right: 1rem;
            }

            &-img {
                padding: 0.6rem;
            }

            &-submit {
                font-family: "AvenirNext_demi", sans-serif;
                color: $white;
                text-align: center;
                padding: 0.8rem 1rem 0 1.7rem;
                height: 1rem;
                background-color: $BrainFlix-Blue;
                border: none;
                outline-width: 0;  
            }  
        }
    }

    &__default--container {
        border-bottom: 1px solid $mercury;

        &-image {
            &-img {
                height: 2.5rem;
                width: 2.5rem;
                background-color: $mercury;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                float: left;
                border-radius: 2rem;
                margin: 1rem 1rem 0 0;
            }
            @include desktop {
                margin: 1rem 1rem 0 0.5rem;
            }
        }

        &-header {
            display: flex;
            justify-content: space-between;

            &-name {
                color: $BrainFlix-Black;
                font-family: "AvenirNext_demi", sans-serif;
                font-size: .875rem;
                line-height: 1.375rem;
                padding: 1rem 0 0 0;
                margin: 0;
            }

            &-date {
                color: $silver;
                font-family: "AvenirNext_regular", sans-serif;
                font-size: 0.8125rem;
                line-height: 1.375rem;
                margin: 0;
                padding: 1rem 0 0 0;

                @include desktop {
                    margin-right: 1rem;
                }
            }
        }

        &-description {
            display: flex;

            &-text {
                word-wrap: break-word;
                color: $BrainFlix-Black;
                font-size: 0.8125rem;
                font-family: "AvenirNext_regular", sans-serif;
                margin: 0;
                padding: 0.5rem 0 1rem 0;

                @include desktop {
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
}