@import './styles/partials/colors';
@import './styles/partials/fonts';
@import './styles/partials/mixins';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@include desktop {
    .main__container--box {
        display: flex;
    }
}

@include desktop {
    .main__container--box-first {
        border-right: 1px $silver solid;
    }
}
