@import './styles/partials/colors';
@import './styles/partials/fonts';
@import './styles/partials/mixins';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1{
    color: $BrainFlix-Blue;
}